lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

current
node_modules
npm-debug.log

vendor/redis/dump.rdb
vendor/redis/redis-*
vendor/redis/downloads/redis-*/*
vendor/redis/install/*

vendor/mongodb/mongodb-*
vendor/mongodb/downloads/mongodb-*
vendor/mongodb/install/mongodb-*
vendor/mongodb/var/mongodb-data/*

config/*.js
